<?xml version="1.0"?>
<robot name="workpiece_visualizer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- STL 파일 경로를 매개변수로 설정 -->
  <xacro:property name="file_name" value="$(arg file_name)" />

  <!-- 변환 행렬 정의 -->
  <xacro:property name="translation_x" value="0.5442881" />
  <xacro:property name="translation_y" value="0.03528842" />
  <xacro:property name="translation_z" value="0.22049255" />

  <!-- 회전 행렬을 quaternion으로 변환한 값 (직접 계산한 값) -->
  <xacro:property name="roll" value="-0.0269" />
  <xacro:property name="pitch" value="0.0061" />
  <xacro:property name="yaw" value="-0.5829" />


  <!-- 기준 링크 (base_link) 정의 -->
  <link name="base_link">
    <inertial>
      <mass value="0.1"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

  <!-- 원래 위치에서의 링크 정의 -->
  <link name="visualized_model">
    <visual>
      <geometry>
        <mesh filename="package://nrs_ver2/mesh/$(arg file_name)" />
      </geometry>
      <material name="gray">
        <color rgba="0.5 0.5 0.5 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://nrs_ver2/mesh/$(arg file_name)" />
      </geometry>
    </collision>
  </link>

  <!-- 변환된 위치에서의 링크 정의 -->
  <link name="transformed_model">
    <visual>
      <geometry>
        <mesh filename="package://nrs_ver2/mesh/$(arg file_name)" />
      </geometry>
      <material name="blue">
        <color rgba="0.2 0.2 0.8 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://nrs_ver2/mesh/$(arg file_name)" />
      </geometry>
    </collision>
  </link>

  <!-- 원래 위치 링크와 base_link 연결 -->
  <joint name="base_to_visualized_model" type="fixed">
    <parent link="base_link"/>
    <child link="visualized_model"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- 변환된 위치 링크와 base_link 연결 -->
  <joint name="base_to_transformed_model" type="fixed">
    <parent link="visualized_model"/>
    <child link="transformed_model"/>
    <origin xyz="${translation_x} ${translation_y} ${translation_z}" rpy="${roll} ${pitch} ${yaw}" />
  </joint>

</robot>
