<launch>
  <!-- Launch RViz with a specified configuration file -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nrs_vision_rviz)/config/rviz_config.rviz" />
  <!--mesh의 edge부분을 시각화하는 노드. mesh 자체는 URDF를 통해 로드. edge를 보고 싶지 않다면 주석처리-->
  <node name="visualize_mesh" pkg="nrs_vision_rviz" type="visualize_mesh" output="screen" /> 
  <!--Rviz를 통해 클릭한 점을 시각화하기 위한 노드-->
  <node name="point_publisher" pkg="nrs_vision_rviz" type="point_publisher" output="screen" />
  <!--clicked_point를 Subscribe하여 표면 위의 Geodesic 작업 경로를 생성하는 노드-->
  <!-- <node name="path_generator" pkg="nrs_vision_rviz" type="path_generator" output="screen" /> -->
  <!--Rviz 상에 waypoints_interpolator를 통한 최종 경로를 시각화하기 위한 노드-->
  <node name="path_visualizer" pkg="nrs_vision_rviz" type="path_visualizer" output="screen" />
<!--터미널 상에서 여러가지 input을 받고, 각 노드로 커맨드를 뿌려주기 위한 노드-->
  <node name="keyboard_listener" pkg="nrs_vision_rviz" type="keyboard_listener" output="screen" />
<!--moveit을 이용해 rviz 상에서 시뮬레이션해서 시각화하기 위한 노드-->
  <node name="moveit_planner" pkg="nrs_vision_rviz" type="moveit_planner" output="screen" />
  <!--path_generator를 통해 생성된 작업 경로를 interpolation 및 normal smoothing, 접근,후퇴 경로 추가 등의 후처리하는 노드-->
  <!-- <node name="waypoints_interpolator" pkg="nrs_vision_rviz" type="waypoints_interpolator" output="screen" /> -->

  <node name="path_projection" pkg="nrs_vision_rviz" type="path_projection" output="screen" />

  <!-- <node name="hand_teaching" pkg="nrs_vision_rviz" type="hand_teaching" output="screen" /> -->


  <!-- 아래부터는 Moveit을 사용하기 위한 기본적인 설정들 -->

  <!-- Static transform publisher -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_map"
    args="0 0 0 0 0 0 map base_link" />

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
    output="screen">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    output="screen">
    <!-- <param name="publish_frequency" type="double" value="50.0" /> -->
  </node>

  <!-- MoveIt! executable without trajectory execution -->
  <include file="$(find nrs_vision_rviz)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true" />
    <arg name="fake_execution" value="true" />
    <arg name="info" value="true" />
    <arg name="debug" value="false" />
    <arg name="pipeline" value="ompl" />
    <arg name="load_robot_description" value="true" />
  </include>


</launch>