<launch>
  <!-- Launch RViz with a specified configuration file -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nrs_path)/rviz/rviz_config.rviz" />


  <node name="nrs_node_path_generation" pkg="nrs_path" type="nrs_node_path_generation" output="screen" />
  <node name="nrs_node_simulation" pkg="nrs_path" type="nrs_node_simulation" output="screen" />


  <!-- 아래부터는 Moveit을 사용하기 위한 기본적인 설정들 -->

  <!-- Static transform publisher -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_map"
    args="0 0 0 0 0 0 map base_link" />

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"
    output="screen">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
  </node>

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    output="screen">
    <!-- <param name="publish_frequency" type="double" value="50.0" /> -->
  </node>

  <!-- MoveIt! executable without trajectory execution -->
  <include file="$(find nrs_path)/launch/moveit/move_group.launch">
    <arg name="allow_trajectory_execution" value="true" />
    <arg name="fake_execution" value="true" />
    <arg name="info" value="true" />
    <arg name="debug" value="false" />
    <arg name="pipeline" value="ompl" />
    <arg name="load_robot_description" value="true" />
  </include>


</launch>